{{- define "loginPage" -}}
<!DOCTYPE html>
<html>

<head>
    {{- template "header" . -}}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>{{.System.Name}}</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Informe seus dados</p>
                {{- template "alert" . -}}
                <form action="/login" method="post">
                    <div class="input-group mb-3">                        
                        <input type="login" name="login" class="form-control" placeholder="Login" autocomplete="false" required />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="senha" class="form-control" placeholder="Senha" autocomplete="false" required />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                            <a href="/contatos/listar" class="btn btn-default btn-block" title="Clique aqui para ir para Lista de contatos">Lista de contatos</a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-card-body -->            
        </div>
    </div>
    <!-- /.login-box -->

    <script src="/public/AdminLTE305/plugins/jquery/jquery.min.js"></script>
    <script src="/public/AdminLTE305/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/AdminLTE305/dist/js/adminlte.min.js"></script>

</body>

</html>
{{end}}